$color-primary-black: #323232;
$color-primary-blue: #0095FF;
$color-primary-silver: #AFAFAF;
$color-primary-white: #FFFFFF;

$color-secondary-darkblack: #000000;
$color-secondary-darkblue: #0065AD;
$color-secondary-mercury: #E1E1E1;
$color-secondary-alabaster: #FAFAFA;